@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1D1D1D;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img {
  max-width: 500px;
  width: 40vw;
}